.banner {
    position: relative;
    padding-inline: 2rem;
    background-image: url(../../public/montagne.jpg);
    background-size: cover;
    height: 223px;
    background-position: center;
    color: white;
    font-family: 'Montserrat';
    font-size: 48px;
    margin: auto;
    max-width: 80vw;
    display: grid;
    place-items: center;
    border-radius: 25px;
    margin-bottom: 2rem;
}

.banner::before {
    position: absolute;
    content: "";
    inset: 0;
    mix-blend-mode: darken;
    opacity: 0.3;
}