.navbar {
    display: flex;
    align-items: center;
    padding: 0 2rem;
    color: #FF6060;
    gap: 6rem;
    padding-right: 15rem;
    padding-left: 5rem;
    font-family: 'Montserrat';
    font-size: 24px;
    line-height: 142.6%;
}

.navbar__logo {
    margin-right: auto;
    color: #FF6060;
}